.header {
  background: white;
}

.container {
  background-color: #ffab00;
  border-radius: 0 0 50px 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.content {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.sourse {
  justify-self: end;
  font-size: 30px;
  justify-self: end;
}
