.categories {
  box-shadow: 5px 5px 5px #7a5406;
  display: grid;
  align-items: center;
  font-size: 20px;
  background: black;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.list {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.list li {
  padding: 8px 0;
  text-align: center;
}

@media (max-width: 780px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}