@import './logo';

//Переменные
$orange: #ffab00;
$lowOrange: white;
$green: rgb(88, 41, 150);
$white: #f5efde;
$text: black;
$hover: #fcb11a;
/* обнуление и общие стили */
.st5 {
  fill: #f6f2e7;
}
* {
  transition: all 0.4s ease;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  background: $orange;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media (max-width: 780px) {
  .container {
    max-width: 90vw;
  }
}
.display{
  display: none;
}
.border {
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.done{
  background: #ebd18c;
}
/* хедер */
.header {
  background: $lowOrange;
}

.header-container{
  background-color: $orange;
  border-radius: 0 0 50px 0;
  padding: 20px 0;
}
.header-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-logo {
  position: relative;
  width: 200px;
  height: 55px;
  background: url("/assets/logo.4f82cd73.svg") center/contain no-repeat;
  background: url();
}

.header-score {
  font-size: 30px;
  justify-self: end;
}

//main
.main{
  background: $orange;
}
.main_container{
  padding: 30px 0;
  background: $lowOrange;
  border-radius: 50px 0 0 50px;
}

/* категории */
.categories-birds {
  display: grid;
  align-items: center;
  font-size: 20px;
  background: $white;
  color: $text;
  //border: 2px solid $orange;
}

.categories-list {
  color: $text;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  & li {
    color: $text;
    height: 100%;
    width: 100%;
    //border-right: 1px solid $orange;
    padding: 8px 0;
    text-align: center;
    &:first-child {
      border-radius: 8px 0px 0px 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0px;
    }
  }
}
@media (max-width: 780px) {
  .categories-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .categories-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

/* птицца раунда */
.round-bird {
  color: $text;
  min-height: 200px;
  margin-top: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 40px;
  align-items: center;
  background: $white;
  //border: 2px solid $orange;
}
@media (max-width: 780px) {
  .round-bird {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 50px 60px;
    align-items: center;
    justify-items: center;
  }
}
.round-foto {
  background-repeat: no-repeat;
  background-size: cover;
  width: 220px;
  height: 180px;
  border-radius: 10px;
}

.round-text-flex{
  height: 100%;
}
.round-name {
  font-size: 36px;
  margin-bottom: 20px;
}
.round-audio_block{
  & .round-audio {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .round-audio_block{
    width: 100%;
    & .round-audio {
      width: 90%;
    }
  }
}
@media (max-width: 780px) {
  .round-text-flex{
    width: 100%;
    margin-bottom: 20px;
  }
  .round-name {
    text-align: center;
  }
  .round-audio_block{
    text-align: center;
  }
}
/* Выбор птицы */
.choice-bird {
  color: $text;
  margin-top: 30px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1024px) {
  .choice-bird  {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 780px) {
  .choice-bird  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    margin-top: 30px;
    grid-row-gap: 30px;
  }
}
.choice-bird-list {
  background: $white;
  height: 254px;
  //border: 2px solid $orange;
}

.choice-bird-list li {
  padding: 8px 0;
  padding-left: 40px;
  //border-bottom: 2px solid $orange;
}

.choice-bird-list li:first-child {
  border-radius: 8px 8px 0px 0px;
}

.choice-bird-list li:last-child {
  border: none;
  border-radius: 0px 0px 8px 8px;
}


.dote{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  transform: translate(-150%, 50%);
}
.choice-bird-list li:hover {
  background: $hover;
  overflow: hidden;
}

.choice-bird-ul {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.choiced-bird {
  padding: 8px;
  background: $white;
  height: 100%;
  //border: 2px solid $orange;
}
@media (max-width: 780px) {
  .choiced-bird {

  }
}

.choiced-bird-flex {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 30px;
}

.choiced-bird-foto {
  font-size: 22px;
  height: 150px;
  width: 150px;
  background: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
@media (max-width: 780px) {
  .choiced-bird-foto {
    width: 220px;
    height: 180px;
  }
}
@media (max-width: 500px) {
  .choiced-bird-foto {
    width: auto;
    max-width: 180px;
    height: 140px;
  }
}

.choiced-bird-name {
  font-size: 28px;
}

.choiced-bird-name_second {
  font-size: 22px;
}
.choiced-bird-demo-song{
  margin: 10px auto 0;
  & audio {
    width: 100%;
  }
}

.choiced-bird-text {
  margin-top: 20px;
  font-size: 18px;
}

.next-btn {
  margin-top: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 20px;
  width: 200px;
  height: 40px;
  background-color: #ebd18c;
  opacity: 0.5;
  color: $text;
  &:hover{
    background: $hover;
  }
}
footer{
  background: $lowOrange;
  display: flex;
  align-items: center;
}
.footer-content{
  border-radius: 0 50px 0 0;
  background: $orange;
  margin: 0 auto;
  width: 100%;
}
.footer-container {
  padding: 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 24px;
}
.footer-autor {

}
.footer-year {
  justify-self: center;
}
.footer-logo {
  justify-self: end;
  width: 100px;
}