.header{
  max-width: 80%;
  margin: 0 auto;
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 20px;
  font-size: 24px;
}
.nav :last-child {
  justify-self: end;
}
@media (max-width: 1024px) {
  .nav {
    margin: 0 auto;
    width: 160px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
  }
  .nav :last-child {
    justify-self: center;
  }
}


