@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.st0 {
  fill: #ffab00; }

.st1 {
  clip-path: url(#SVGID_2_); }

.st2 {
  clip-path: url(#SVGID_4_); }

.st3 {
  clip-path: url(#SVGID_6_); }

.st4 {
  clip-path: url(#SVGID_8_); }

.st5 {
  stroke: #000;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.st6 {
  clip-path: url(#SVGID_8_); }

.st6,
.st7 {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.st8,
.st9 {
  clip-path: url(#SVGID_10_); }

.st9 {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-miterlimit: 10; }

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.st5 {
  fill: #ffab00;
}

header {
  position: relative;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 98vw;
  }
}

section {
  margin-top: 30px;
}

.border {
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#root {
  margin: 0 auto;
  position: relative;
}

body {
  background: #ffab00;
}

.answed{
  background: green;
}

.answedBad{
  background: red;
}